 <!-- <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
  class="mat-elevation-z8">

 
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
      No.
    </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>
      Acción
    </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button [ngClass]="buttonClasses" (click)="realizarAccion(element)">Ejecutar {{element.name}}</button>
    </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
      Name
    </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

 
  <ng-container matColumnDef="request">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
      Request
    </th>
    <td mat-cell *matCellDef="let element"> {{element.request}} </td>
  </ng-container>

  <ng-container matColumnDef="response">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
      Response
    </th>
    <td mat-cell *matCellDef="let element"> {{element.response}} </td>
  </ng-container>

  <ng-container matColumnDef="Total tiempo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
      Total Tiempo
    </th>
    <td mat-cell *matCellDef="let element"> {{element.horainicial}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->



<div class="row">
  <ng-container class="col-lg-3 col-md-4 col-sm-6 col-xs-12 col-12 pb-4" *ngFor="let par of data">
    <div class="card h-100 shadow justify-content-center">
      <div>
        <div class="row card-body col-lg-12 col-12" >
          <div class="d-flex align-items-center justify-content-between"  [ngClass]="{'verde': par.respuesta=='verde', 'rojo': par.respuesta=='rojo'}">
            <div class="mr-3 row">
              <h6 class="card-title tit-alt mt-0 mb-0">
                {{ par.nameService}}
              </h6>
            </div>
            <div class="">
              <i style="color: #54b536"></i>
            </div>
          </div>
          <div class="">
            <p class="card-text D-label"><b>Metodo</b>: {{ par.metodo}}</p>
          </div>
          <div class="">
            <p class="card-text D-label"><b>Ambiente</b>: {{ par.Ambiente}}</p>
          </div>
          <div class="">
            <p class="card-text D-label"><b>Total Time</b>: {{ par.totaltime}}</p>
          </div>
          <div class="">
            <p class="card-text D-label"><b>Status Code</b>: {{ par.responseCode}}</p>
          </div>
        </div>
      </div>
      <div class="">
        <div class="pl-3 pb-3 pr-3" >
          <button type="button" [disabled]="par.disabled" (click)="realizarAccion(par)" class="m-0 btn btn-info pt-1 pb-1 w-100">
            <strong>Probar</strong>
          </button>
        </div>
      </div>    
    </div>    
  </ng-container>  
</div>



<router-outlet></router-outlet>