table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.blue-button {
    background-color: green;
}

.red-button {
    background-color: red;
}

.card {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px;
    display: inline-block;
    /* Esto permite que las cards se dibujen hacia el lado */
    width: 300px;
    /* Ancho de la card */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.card-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
}

.card-body {
    padding: 10px;
}

.verde {
    background-color: #54b536;
    /* Cambia el color de fondo a verde */
}

.rojo {
    background-color: #FF0000;
    /* Cambia el color de fondo a rojo */
    color: #FFF;
    /* Cambia el color del texto a blanco, por ejemplo */
}